# Лабараторная работа №2

Метадам `Рунгэ-Кута 3 і 4 парадкаў` знайсці прыблізнае рашэнне задачы Кашы: 
<br>
а) $u'(x)=\frac{1}{2}u^2+x+1, x\in[0;1], u(0)=1$

In [1]:
import numpy as np
import pandas as pd

In [2]:
def runge_kutta(f, interval, initial, n=4, step=0.01):
    x = np.arange(interval[0], interval[1] + step, step)
    y = np.zeros(len(x))
    y[0] = initial
    if n == 3:
        for i in range(1, len(x)):
            k1 = step * f(x[i-1], y[i-1])
            k2 = step * f(x[i-1] + step / 2, y[i-1] + k1 / 2)
            k3 = step * f(x[i-1] + step, y[i-1] - k1 + 2* k2)
            y[i] = y[i-1] + (k1 + 4 * k2 + k3) / 6
        return pd.DataFrame({'x': x, 'y': y})
    elif n == 4:
        for i in range(1, len(x)):
            k1 = step * f(x[i-1], y[i-1])
            k2 = step * f(x[i-1] + step / 2, y[i-1] + k1 / 2)
            k3 = step * f(x[i-1] + step / 2, y[i-1] + k2 / 2)
            k4 = step * f(x[i-1] + step, y[i-1] + k3)
            y[i] = y[i-1] + (k1 + 2 * k2 + 2 * k3 + k4) / 6
        return pd.DataFrame({'x': x, 'y': y})
    else:
        print('Not implemented for this dimension')

In [3]:
rk3_1 = runge_kutta(lambda x, u: 0.5 * u ** 2 + x + 1, (0, 1), 1, n=3)
rk3_2 = runge_kutta(lambda x, u: 0.5 * u ** 2 + x + 1, (0, 1), 1, n=3, step=0.1)
result1 = pd.DataFrame({'x': rk3_2['x'], 'y, step=0.1': rk3_2['y'], 'y, step=0.01': np.array(rk3_1['y'][::10])})
result1

      x  y, step=0.1  y, step=0.01
0   0.0     1.000000      1.000000
1   0.1     1.163370      1.163364
2   0.2     1.357614      1.357601
3   0.3     1.590980      1.590958
4   0.4     1.875685      1.875660
5   0.5     2.230549      2.230533
6   0.6     2.686039      2.686074
7   0.7     3.294812      3.295035
8   0.8     4.156250      4.157135
9   0.9     5.482696      5.486168
10  1.0     7.821848      7.838385

In [4]:
rk4_1 = runge_kutta(lambda x, u: 0.5 * u ** 2 + x + 1, (0, 1), 1, n=4)
rk4_2 = runge_kutta(lambda x, u: 0.5 * u ** 2 + x + 1, (0, 1), 1, n=4, step=0.1)
result2 = pd.DataFrame({'x': rk4_2['x'], 'y, step=0.1': rk4_2['y'], 'y, step=0.01': np.array(rk4_1['y'][::10])})
result2

      x  y, step=0.1  y, step=0.01
0   0.0     1.000000      1.000000
1   0.1     1.163364      1.163364
2   0.2     1.357601      1.357601
3   0.3     1.590960      1.590958
4   0.4     1.875662      1.875660
5   0.5     2.230535      2.230533
6   0.6     2.686076      2.686074
7   0.7     3.295032      3.295036
8   0.8     4.157098      4.157136
9   0.9     5.485937      5.486173
10  1.0     7.836720      7.838412